.profile-pic {
	width: 80px;
	height: 80px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 5px;
	}

html { 
  background: url('bkg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

body {
	background-color:transparent;

}

h1, h2 {
	background-color:transparent;
}

.anchor {
	margin-top: -60px;
	padding-top: 60px;
}

.container {
	background-color:white;
	margin-top: 60px;
	margin-bottom: 60px;
	border-radius:10px;
	opacity:0.9;
	filter:alpha(opacity=40);
}

.nomarker {

	list-style-type: none;
}

.logo {
	padding-top:10px;
	max-width:100%;
}


@media all and (max-width:599px){
    html{background:#fff}
}

@media all and (max-width: 600px) {
    iframe {
        display:none;
        background: url(images/danzhaus.png);
    }
}

@media all and (max-width:700px){
    .horizontal-schedule{display:none;}
}

@media all and (min-width:700px){
    .vertical-schedule{display:none;}
}

